JWT_SECRET=<generate-new-strong-secret>
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SUPER_ADMIN_EMAIL=nemsophal7@gmail.com
SUPER_ADMIN_PASSWORD=<strong-new-password>

DB_HOST=db
DB_PORT=5432
DB_NAME=590stcafe
DB_USERNAME=postgres
DB_PASSWORD=<strong-new-password>

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=590stcafes@gmail.com
MAIL_PASSWORD=knwnxxdcxulsvnky

TELEGRAM_BOT_TOKEN=8365312298:AAHp-Jdw83lRE5qTY9yZ2fVj76_Gx1HZfM8
TELEGRAM_BOT_USERNAME=@FiveNinetyStCafeBot
TELEGRAM_WEBHOOK_SECRET=e281bca7507acdbaeb1c4bcc5039b26f7db3db047022f5cd2a1f3d9bc74c7911
TELEGRAM_WEBHOOK_BASE_URL=https://yourdomain.com

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=<strong-new-password>

BAKONG_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_TOKEN=eyJhbGci...
BAKONG_ACCOUNT_ID=nem_sophal@bkrt
BAKONG_MERCHANT_NAME=590st Cafe
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_MERCHANT_CATEGORY_CODE=5814
BAKONG_STORE_LABEL=Coffee Shop
BAKONG_TERMINAL_LABEL=POS
BAKONG_PURPOSE_OF_TRANSACTION=Payment
BAKONG_CURRENCY=USD
BAKONG_EXPIRATION_MINUTES=15
BAKONG_KHR_PER_USD_RATE=4100

MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=https://minio.yourdomain.com
MINIO_ACCESS_KEY=<strong-new-access-key>
MINIO_SECRET_KEY=<strong-new-secret-key>
MINIO_BUCKET_NAME=590st-public