JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_BASE_URL=

REDIS_HOST=redis
REDIS_PORT=
REDIS_PASSWORD=

BAKONG_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_TOKEN=
BAKONG_ACCOUNT_ID=
BAKONG_MERCHANT_NAME=
BAKONG_MERCHANT_CITY=
BAKONG_MERCHANT_CATEGORY_CODE=
BAKONG_STORE_LABEL=
BAKONG_TERMINAL_LABEL=
BAKONG_PURPOSE_OF_TRANSACTION=
BAKONG_CURRENCY=
BAKONG_EXPIRATION_MINUTES=
BAKONG_KHR_PER_USD_RATE=

MINIO_ENDPOINT=
MINIO_PUBLIC_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=