build/
.gradle/
out/
*.class

.git/
.gitignore
.gitattributes

.idea/
.vscode/
*.iml

Dockerfile*
Deployment/

**/.env
**/.env.*

*.log
dump.rdb

**/.DS_Store
Thumbs.db

**/node_modules/

README.md
.claude/
.mcp.json