JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=590stcafes@gmail.com
MAIL_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

BAKONG_BASE_URL=
BAKONG_TOKEN=
BAKONG_ACCOUNT_ID=
BAKONG_MERCHANT_NAME=
BAKONG_MERCHANT_CITY=
BAKONG_MERCHANT_CATEGORY_CODE=

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=590st-public