JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=590stcafes@gmail.com
MAIL_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_BASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

BAKONG_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_TOKEN=
BAKONG_ACCOUNT_ID=
BAKONG_ACCOUNT_INFORMATION=
BAKONG_ACQUIRING_BANK=
BAKONG_MERCHANT_NAME=
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_MERCHANT_CATEGORY_CODE=5999
BAKONG_STORE_LABEL=Coffee Shop
BAKONG_TERMINAL_LABEL=POS
BAKONG_PURPOSE_OF_TRANSACTION=Payment
BAKONG_CURRENCY=USD
BAKONG_EXPIRATION_MINUTES=15
BAKONG_KHR_PER_USD_RATE=4100

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=590st-public